body {
padding-top: 20px;
padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
margin: 0 auto;
max-width: 700px;
margin-top: 20px;
}
.container-narrow > hr {
margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
margin: 60px 0;
text-align: center;
margin-top: 45px;
}

.logo {
    margin-top: -16px;
}

.row-fluid {
    margin-top: 45px;
}

.jumbotron h1 {
font-size: 72px;
line-height: 1;
}
.jumbotron .btn {
font-size: 21px;
padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
margin: 60px 0;
}
.marketing p + h4 {
margin-top: 28px;
}

.portfolio-container {
	font-size: 17px;
	line-height: 1.4em;
	text-align:left;
}

.portfolio-item-title {
	line-height: 1.3em;
	font-size: 19px;
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	text-rendering: optimizelegibility;
}

.portfolio-item-description {
	font-style:italic;
}

.portfolio-item-contributions {
	margin-top: 15px;
}

.portfolio-item-technologies {
	margin-top: 15px;	
}
